@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
	.website_wrapper{
		zoom:1;
		top:50px;
		padding-right: 20px !important;
		max-width: 700px !important
	}


	.website_wrapper h1{
		font-size: 40px;
	}

	.website_wrapper[wrapper="1"]{
		top: 90px;
	}

	.website_wrapper[wrapper="1"] p{
		padding-right: 20px;
	}

	.website_wrapper[wrapper="1"] p br{
		display: none;
	}

	.agent{
		width: 98% !important;
		margin-top: -10px
	}

	.refe p{
		font-size: 13px;
		padding-right: 10px;
	}

	.refe p br{
		display: none;
	}

	.agent a{
		margin-top: -30px;
		float: left;
	}

	.website_wrapper[wrapper="1"]{
		margin-top: -30px;
	}

	.website_wrapper[wrapper="2"] p{
		padding-right: 20px;
	}

	.website_wrapper[wrapper="2"]{
		top: 60px;
		zoom:0.9;
	}

	.website_wrapper[wrapper="3"]{
		top: 60px;
	}
	.website_wrapper[wrapper="3"] br{
		display: none;
	}

	#big_slider h1{
		font-size: 20px !important;
	}

	#big_slider .img_wrapper{
		width: 280px
	}

	#big_slider p{
		font-size: 16px !important;
		line-height: 18px !important;
	}
}