



@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
	div,ul,li{
		-webkit-overflow-scrolling: auto;
	}
	#big_slider p{
		line-height: 17px !important;
	}
	.icon-arrow-right,.icon-arrow-left{
		display: none;
	}


	footer{
		padding-top: 0;
		height: 37px
	}
	
	.back_grad,div[bg]{
		bottom: 36px;
	}
	div[bg]:not(.spezial){
/*		opacity: 1 !important;
		background-size: cover !important;
		top: 100px !important;*/

		opacity: 1 !important;
		position: fixed;
		background-size: 100% !important;
		background-position: bottom left !important;
		background-repeat: no-repeat !important;
		width: 100% !important;
		height: 100% !important;
		
	}

	div[bg].spezial{
		background-size: 50%;
	}





	.websites{
		margin-top: 100px;
	}

/*	.gn-menu-main{
		height: 47px;
	}

	.gn-menu-main > li{
		margin-top: -6px
	}

	.gn-menu-wrapper{
		top: 47px;
	}*/

	footer .logo{
		background-position: top left;
		margin-top: 6px;
		margin-right: 0;
		position: absolute;
		left: 50%;
		margin-left: -110px !important;
	}

	.wrapper_slider{
		zoom:0.6;
		bottom: 79px;
	}

	#slider .column{
		height: 410px;
	}

	.images{
		position: absolute;
		width: 500px;
		bottom: 158px;
		margin-left: 0px;
		left: 0;
	}

	.images img{
		margin-left: 0 !important;
		margin-top: -9px;
	}
/*
	.images img[slide="2"],
	.images img[slide="3"],
	.images img[slide="4"]{
		margin-left: 60px !important;
	}*/


/*	.description div[slide="3"] h2{
		width: 100px;
	}*/

	.text.agent{
		margin-top: 0px;
		margin-left: 0px;
	}

	.website_wrapper{
		zoom:0.6;
		top: 100px !important;
	}
	body:not(#index) .website_wrapper p,body:not(#index) .website_wrapper li,
	body:not(#index) .website_wrapper .midbold{
		font-size: 22px !important;
		line-height: 24px !important;
	}

	.refe p{
		font-size: 18px !important;
		line-height: 18px !important
	}

	.website_wrapper a{
		font-size: 26px;
	}

	.website_wrapper .img{
		display: none
	}


	#big_slider br{
		display: none;
	}

	#big_slider .img_wrapper{
		width: 200px;
	}

	#big_slider{
		bottom: 30px;
	}

	.indicator div{
		background: #ccc;
	}

	#big_slider h1{
		font-size: 14px;
	}

	#big_slider p{
		font-size: 12px;
		line-height: 10px;
	}
}